.welcome_header_boxlink {  
    position: relative;
    display: block;
    text-align: center;
    width: 80px;
    height: 40px;
    color: #da5319!important;
    line-height: 2.2em;
    border: 1px solid #da5319;
    border-radius: 5px;
    text-align: center;
}

.header_nav_boxlink {
    position: relative;
    display: block;
    text-align: center;
    width: 80px;
    height: 40px;
    color: #da5319!important;
    border: 1px solid #da5319;
    border-radius: 5px;
    text-align: center;
}

.header_brand {
    color: #da5319!important;
}

.header_user_dropdown {
    color: #da5319!important;
}

.card-img-overlay h5 {
    color: #fff;
    font-size: 2rem;
}

.content_boxlink {
    background-color:rgba(218,83,25,0.7);
    border-radius: 5px;
    color: #fff;
    border: 1px solid #da5319;
    line-height: 50px;
    font-size: 1.2rem;
}

.card-overlay-text {
    margin-top: 5rem;    
}

.fontsize-sm {
    font-size: 0.6rem;   
}

.card-row-hight-30 {
    line-height: 30px;
}
.card-row-hight-70 {
    line-height: 70px;
}
.card-row-hight-8 {
    line-height: 8px;
}
.card-row-hight-9 {
    line-height: 9px;
}
.card-row-hight-25 {
    line-height: 25px;
}

.maru {
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}

.card-img-size {
    width: 65px;
    height: 112px;
}

/*
.bg-img p{
    color: #fff;
    font-size: 5rem;
    width: 100%;
    height: 800px;
}

.bg-img {
    width: 100vw;

    position: relative;
    background-image : url("../img/scrable_1280.jpg");
    width: 100%;
    height: 0%;
    padding-top: 68.28125%;    // (画像の高さ / 画像の横幅) × 100 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center; //縦方向の中央揃え
    justify-content: center; //横方向の中央揃え
}
*/
